################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/Source
/Source/Debug
/Source/.vs/Source
/Source/x64/Debug
/SourceGUI/.vs/SourceGUI
