################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/Source
/Source/Debug
/Source/.vs/Source
/Source/x64/Debug
/Sol 2.5.txt
/Sol.txt
/Файлы в программе.txt
/SourceGUI/.vs/SourceGUI/FileContentIndex
/SourceGUI/bin/Debug
/SourceGUI/.vs/SourceGUI/v17
/SourceGUI/packages
[Oo]bj/